
.row {

}

div.dashboard {
  div.title {
    width: 100%;
    height: 50px;
    background-color: #0d283f;

    span {
      display: inline-block;
      margin: 17 0 0 20;

      color: white;
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  .form {
    background-color: white;
    padding: 0 20 0 20;

    input { 
      width: 90%; 
      height: 30px;
      margin-left: 20px;
      padding-left: 10px;
      letter-spacing: 1px;

      border: none;
      outline: 0; 
      font: normal 13px/100% Verdana, Tahoma, sans-serif; 
      background: #FFFFFF; 
    } 

    input:hover { 
      /*border: solid 1px #E5E5E5; */
      border: solid 1px #c9c9c9; 
    } 

    tr {
      td {
        height: 50px;
        border-bottom: solid 1px #e8e9e8;
      }

      td:nth-child(1) {
        letter-spacing: 1px;
        text-transform: uppercase;
        vertical-align: center;
        text-align: left;
        color: #41aec2;
        font-size: 12px;
      }
      td:nth-child(2) {
        font-size: 14px;
      }
    }

    tr:last-child {
      td {
        border-bottom: none;
      }
    }


  }

  div#stats {
    tr {
      td:nth-child(1) {
        width: 65px;
      }

      td:nth-child(2) {
        width: 115px;
        text-align: center;
      }
    }

  }
  div#profile-basics {
    tr {
      td:nth-child(1) {
        width: 80px;
     }

      td:nth-child(2) {
        width: 330px;
      }

    }
  }

}



