div.form-content {
  form {
    width: 90%;
    padding: 0 5% 0 5%;
    background-color: white;

    input[type='text'] {
      width: 100%;
      height: 30px;
      letter-spacing: 1px;

      font-size: 16px;
      border: none;
      outline: 0;
      background: #FFFFFF;

      &:hover { border: solid 1px #E5E5E5; }

      &.month {
        width: 40px;
      }
      &.year {
        width: 60px;
      }
    }

    table {
      width: 100%;
      table-layout: fixed;
    }

    tr.table-header {
      td { height: 0px; border: none; }
    }

    tr.quill-row {
      td.quill-ad-column {
        height: 250px;
        display:table-cell;

        div.quill-ad-form {
          width: 100%;
          overflow-y: scroll;
          border: solid 1px #e8e9e8
        }
      }
    }

    tr.checkboxes {
      text-align: center;
    }

    tr {
      td {
        width:  16.665%;
        height: 50px;
        border-bottom: solid 1px #e8e9e8;
        letter-spacing: 1px;
        vertical-align: center;
        font-size: 16px;
      }

      &:last-child {
        td {border: none;}
      }


      td.description {
        height: 30px;
        border: none;
        vertical-align: bottom;
      }

      td label {
        text-transform: uppercase;
        color: #41aec2;
        font-size: 13px;
        text-align: left;
      }

      td span.slash {
        color: #41aec2;
      }

      div.next {
        width: 80px;
        height: 80%;
        margin: 0 auto;


        border-radius: 5%;
        background-color: #41aec2;
        text-align: center;

        span {
          display: inline-block;
          margin-top: 8px;
          color: white
        }
      }
    }

  }
}
