@import url(http://fonts.googleapis.com/css?family=Raleway:600,500,400,300);

html, body {
  background: #efecf0;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

h1,h2,h3 {
  font-family: Raleway, serif;
}

div, p, span, ul, li, label, td, tr, input{
  font-family: Raleway, serif;
}

div.scrollable {
  height: 380px;
  overflow-y: scroll;
}
div.apply-now-btn {
  font-family: Raleway, serif;
  font-size: 24px;
  font-weight: 500;
  padding-top: 12px;
}


div.rounded-corners{
  background-color: white;
  border-radius: 2.5%;
  overflow: hidden;
}


div.company-ad {
  background-color: white;
  border-radius: 2.5%;
  padding: 10px;
  h3 {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .title {
    color: #0facc3;
    font-size: 24px;
    font-weight: 500;
  }
}

div.apply-now {
  .apply-btn {
    width: 233px;
    height: 50px;
    border-radius: 2.5%;

    span {
      background-color: #3b9eb7;
      color: white;
    }
  }

  .details {
  }

  .contact {

  }
}
div.ad-information {
  div.details, div.contact {
    margin: 10px 0px 10px 0px;
  }
  ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    li {
      width: 100%;
      height: 23px;
      margin: 5px 0px 5px 0px;
      font-size: 14px;
      overflow: hidden;

      span.icon {
        width:  20px;
        height: 21px;
        margin-top: 2px;

        font-size: 15px;
      }

      span {
        height: 21px;
        color: #535353;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

}


div.flex-navbar {

  span.menu-item {
    width: 30px;
    height: 30px;
    margin-left: 17px;
    margin-top: 15px;
    display: inline-block;

    color: #7aa7c4;
    font-size: 25px;
  }
}

div.flex-navbar.right {
  border-right: solid 1px #7aa7c4;
}

div.flex-navbar.left {
  border-left: solid 1px #7aa7c4;
}


div.stop-gap-div {
  /*stop-gap-div defers the decision of how to interface famous and backbone surfaces and views. */
  /*use it as the first element in the javascript template you have. it will be the first child element of a famous surface. */
  /*there maybe a performance cost related to coding it this way, but it's probably immaterial. research this later.*/
  /*once you've decided on a convention, remove the stop-gap-div implementation*/
  width: 100%;
  height: 100%;
  overflow: hidden;
}
