@import
url(https://fonts.googleapis.com/css?family=Raleway:600,500,400,300,200);

html, body {
  background: #efecf0;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;

}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

h1,h2,h3 {
  font-family: Raleway, serif;
}

div, p, span, ul, li, label, td, tr, input{
  font-family: Raleway, serif;
}

div.rounded-corners{
  background-color: white;
  border-radius: 2.5%;
  overflow: hidden;
}
div.main-nav-bar {
  width: 100%;
  height: 56px;
  background-color: #0d283f;

  div.text-logo {
    width: 200px;
    height: 100%;
    text-align: center;
    background-color: #3ea9bd;
    font-size: 25px;
    float: left;
    span.first {
      color: white;
      display: inline-block;
      margin-top: 12px;
      font-weight: 500;
      span.second {
        font-weight: 200;
      }
    }
  }

  ul {
    margin-right: 50px;
    float: right;

  }
  ul li {
    width: auto;
    height: 30px;
    float: left;

    margin-left: 17px;
    margin-top: 15px;
    display: inline-block;

    a {
      /*color: #7aa7c4;*/
      color: white;
      font-size: 20px;
    }
  }
}

div.main-nav-bar.right {
  border-right: solid 1px #7aa7c4;
}

div.main-nav-bar.left {
  border-left: solid 1px #7aa7c4;
}


