div.gigs {
  overflow: hidden;
}

div.ad-filter.general-content {
  width: 260px;
  margin: 1px 20px 10px 1px;


  div.content-body {
    width: 92%;
    padding: 4%;
    ul {
      margin-left: 20px;
    }
    li {
      margin: 10px 0px;
    }
    li a {
      font-size: 23px;
      color: #0facc3;
    }

  }

}

div.job-details, div.company-ad {
  div.content-body {
    background-color: white;
    border-radius: 2px;
  }
}


div.job-details {
  width: 660px;
  padding: 20px 25px;
  margin-right: 20px;
  height: auto;
  float: left;
  border-radius: 2px;
  font-size: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);

  ul {
    margin-left: 20px;
  }
}

div.company-ad {
  width:  260px;
  height: auto;
  margin: 1px 20px 10px 1px;
  overflow: hidden;

  //Desktop size
  @media (min-width: 700px) {
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  }

  img {
    width: auto;
    max-height: 200px;
    display: block;
    margin: 0px auto;
    padding: 0px;
  }
  div.company-ad-body {
    width: 88%;
    height: 95%;
    padding: 6%;
    display: block;
    overflow: hidden;

    div.scrollable {
      max-height: 100px;
      overflow: hidden;
    }
  }
}

div.job-details,
div.company-ad div.company-ad-body {
  h3 {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .title {
    color: #0facc3;
    font-size: 24px;
    font-weight: 500;
  }
}

div.front-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 500px) {
  body div.app-body {
    width: 100%;
  }

  div.job-details {
    width: 77%;
    margin: 20px auto;
    padding:4%;
    float: none;
  }
  div.company-ad, div.ad-filter.general-content {
    width: 90%;
    margin: 0px;
    padding: 2.5% 5%;
    float: none;

  }

  div.company-ad div.content-body {
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  }
  div.gigs {
    overflow: hidden;
    width: 100%;
    float: left;
  }
}


