form {
  margin: 0px;
}

tr.beefy-cols td {
  height: 75px !important;
}

div.form-content , div.general-content {
  form {
    width: 90%;
    padding: 0 5% 0 5%;
    background-color: white;

    input[type='text'] {
      width: 100%;
      height: 30px;
      letter-spacing: 1px;

      font-size: 16px;
      border: none;
      outline: 0;
      background: #FFFFFF;

      /*border: solid 1px #E5E5E5; */
      border: solid 1px #d8d8d8; 
      &:hover { border: solid 1px #d8d8d8; }



      &.month {
        width: 40px;
      }
      &.year {
        width: 60px;
      }
    }

    table {
      width: 100%;
      table-layout: fixed;
    }

    tr.table-header {
      td { height: 0px; border: none; }
    }


    tr.no-padding {
      td {
        height: 43px;
        vertical-align: top;
      }
      padding: 0px;
      div#ad-toolbar {
        padding: 0px;
      }
    
    }
    tr.quill-row {
      td.quill-ad-column {
        height: 250px;
        display:table-cell;
        border-bottom: none;
        padding-bottom: 0px !important;

        div.quill-ad-form {
          width: 100%;
          overflow-y: scroll;
          border: solid 1px #d8d8d8;
        }
      }
    }

    tr.checkboxes td {
      border: none;
    }
    tr.payment-details {
      td {
        height: 40px;
      }
    }
    tr.subtotal-line {
      td {
        border-bottom: solid 1px #d8d8d8;
      }
    }
    tr.header {
      td {
        width: 100%;
        height: 50px;
        border-bottom:  solid 1px #d8d8d8;
        color: #41aec2;
        font-size: 20px;
        font-weight: 500;
      }
    }

    tr {
      td {
        width:  16.665%;
        height: 60px;
        /*border-bottom: solid 1px #e8e9e8;*/
        letter-spacing: 1px;
        vertical-align: center;
        font-size: 18px;
      }

      &:last-child {
        td {border: none;}
      }


      td.description {
        height: 30px;
        border: none;
        vertical-align: bottom;
      }

      td label {
        color: #41aec2;
        font-size: 18px;
        text-align: left;
        display: inline-block;
      }

      td span.slash {
        color: #41aec2;
      }

      div.next {
        width: 80px;
        height: 80%;
        margin: 0 auto;


        border-radius: 5%;
        background-color: #41aec2;
        text-align: center;

        span {
          display: inline-block;
          margin-top: 8px;
          color: white
        }
      }
    }
  }

  button {
    width: 100%;
    height: 35px;
    background-color: #4b9ab2;
    border: none;

    span {
      cursor: pointer;
      font-size: 17px;
      color: #fff;
      text-shadow: 0 -1px 0 rgba(46,86,153,0.3);
    }
  }

  button.checkout-btn {
    height: 50px;
    span {
      font-size: 20px;
    }
  }



}
