div.payment-checkout {
  width: 600px;
}

div.payment-details {
  overflow: hidden;
  div.costs {
    overflow: hidden;
    div.cost {
      height: 40px;
      overflow: hidden;
      span {
        float: left;
        display: block;
        font-size: 21px;
      }
      span.inventory {
        width: 100px;
      }
      span.price {
        width: 50px;
      }
      &:last-child {
        span {
          font-weight: 600;
          padding-top: 10px;
          border-top: 1px solid #d8d8d8;
        }
      }
    }

  }

}

form.payment-form {
  button.pay-btn {
    span {
      color: white;
    }
    margin: 20px 0px;
  }


  div.card-types {
    overflow: hidden;

    label, img {
      height: 30px;
      display: inline-block;
      float: left;
    }
    label {
      margin-right: 20px;
    }
    img {
      margin: 5px 0px;
    }
  }

  div.exp-date-and-cvc {
    margin-top: 10px;
    div.form-row {
      float: left;
      margin-right: 50px;
    }
    div.exp-date {
      width: 200px;
    }
    div._cvc {
      width: 100px;
    }

  }
}

div.payment-completion {
  width: 800px;
  margin: 0px auto;
  p {
    font-size: 18px;
    text-align: center;
  }
  img {
    width: auto;
    height: 200px;
    display: block;
    margin: 10px auto;
  }

  progress {
    display: block;
    width: 300px;
    height: 20px;
    margin: 20px auto;
  }
  button.complete-btn {
    width: 300px;
    margin: 0px auto;
    display: block;
  }
  div.content-body {
    min-height: 150px;

  }

}

div.general-content span.payment-errors {
  margin: 20px 0px;
  display: inline-block;
  font-size: 15px;
  color: red;
}


