form#payment-form {
  button.pay-btn {
    margin: 20px 0px;
  }

  div.subtotal-line {
    border-bottom: 1px solid grey;
  }
  div.card-types {
    overflow: hidden;

    label, img {
      height: 30px;
      display: inline-block;
      float: left;
    }
    label {
      margin-right: 20px;
    }
    img {
      margin: 5px 0px;
    }
  }

  div.exp-date-and-cvc {
    margin-top: 10px;
    label {
      margin-right: 10px;
    }
    input.month {
      width: 40px;
    }
    input.year {
      margin-right: 20px;
      width: 60px;
    }

    input[name="cvc"] {
      width: 60px;
    }

  }
}

div.payment-checkout {
  width: 800px;
}
